# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/

# Environment
.env

# Data
*.db
data/raw/
data/processed/
src/data/
frontend/node_modules/
frontend/dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store